{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf540
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww9000\viewh8400\viewkind0
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs24 \cf0 <style type="text/css">\
body\
\{\
background-color:#d0e4fe;\
\}\
h1\
\{\
color:orange;\
text-align:center;\
\}\
p\
\{\
font-family:"Times New Roman";\
font-size:20px;\
\}\
</style>}